\documentclass[11pt]{article}
\usepackage{animate}
\usepackage{graphicx}
\usepackage{media9}
\usepackage{animate}
\usepackage{graphicx}
\usepackage{media9}

\begin{document}

{% for scene in movie.scenes %}

\section{ {{ scene.name }} }
    \begin{center}
        \animategraphics[
            label=taylor,
            controls, loop,
            timeline=timeline.txt
        ]{2}{g_{{ scene.name }}_}{0}{ {{ scene.duration * scene.ips }} }
        \mediabutton[
        jsaction={
            if(anim[’taylor’].isPlaying)
            anim[’taylor’].pause();
            else
            anim[’taylor’].playFwd();
        }
        ]{\fbox{Play/Pause}}
    \end{center}

{% endfor %}

\end{document}
