\documentclass[11pt]{article}
\usepackage{animate}
\usepackage{graphicx}
\usepackage{media9}
\usepackage{animate}
\usepackage{graphicx}
\usepackage{media9}

\begin{document}

{% for (scene,start) in zip %}
% start is {{ start }}

\section{ {{ scene.name }} }
    \begin{center}
        \animategraphics[
            label={{ scene.name }},
            controls, loop,
            timeline=timeline.txt
        ]{2}{g_{{ scene.name }}_}{ {{ start }} }{ {{ start+scene.duration * scene.ips }} }
        \mediabutton[
        jsaction={
            if(anim[’taylor’].isPlaying)
            anim[’taylor’].pause();
            else
            anim[’taylor’].playFwd();
        }
        ]{\fbox{Play/Pause}}
    \end{center}

{% endfor %}

\end{document}
