\documentclass[11pt]{article}
\usepackage{animate}
\usepackage{graphicx}
\usepackage{media9}
\usepackage{animate}
\usepackage{graphicx}
\usepackage{media9}

\begin{document}

{% for (scene,start) in zip %}
% start is {{ start }}

\section{ {{ scene.name }} }
    \begin{center}
        \animategraphics[
            label={{ scene.name }},
            controls, loop,
            timeline=timeline.txt
        ]{ {{scene.ips}} }{mps/scene_}{ {{ start }} }{ {{ start+scene.duration * scene.ips -1}} }
        \mediabutton[
        jsaction={
            if(anim[’{{scene.name}}’].isPlaying)
            anim[’{{scene.name}}’].pause();
            else
            anim[’{{scene.name}}’].playFwd();
        }
        ]{\fbox{Play/Pause}}
    \end{center}

{% endfor %}

\end{document}
