#.SUBDIRS: .

.PHONY: all install clean
.DEFAULT: all

rm -rf storylc
mkdir -p storylc
ln -s /home/laurent/work/storylc/src/storylc/lib storylc/lib

mkdir -p mps
all_mps={% for i in range(scene.duration*scene.ips) %}mps/{{scene.name}}_{{i}}.mps  {%endfor%}

mkdir -p png
all_png={% for i in range(scene.duration*scene.ips) %}png/{{scene.name}}_{{i}}.png  {%endfor%}


$(all_mps) : {{scene.name}}.mp
    mpost --tex=latex {{scene.name}}

$(all_png) : {{scene.name}}_png.mp
    mpost --tex=latex {{scene.name}}_png

{{scene.name}}_png.mp : {{scene.name}}.mp
    cat $< | sed "s/outputformat.*/outputformat := \"png\";/" | sed "s#outputtemplate.*#outputtemplate := \"png/{{scene.name}}_%c.png\" ;#" > $@



$(all_png) : {{scene.name}}_png.mp
    mpost --tex=latex {{scene.name}}


all : $(all_mps) $(all_png)

clean :
    rm -rf $(all_mps)
