.PHONY: all


pdf: master.pdf

mkdir -p mps

{% for (scene,start) in zip %}
{% for i in range(scene.duration*scene.ips) %}
scene_{{ start+i }}.mps : ../tmp-{{ scene.name }}/mps/{{ scene.name }}_{{ i }}.mps
   cp $< $@
{% endfor %}
{% endfor %}

all_mps= {% for i in range(nb_images) %} mps/scene_{{i}}.mps {% endfor %}
