.SUBDIRS: mps {% for scene in movie.scenes %} tmp-{{scene.name}} {%endfor%}

.PHONY: all install clean x pdf

.SUBDIRS: {% for scene in movie.scenes %} tmp-{{scene.name}} {%endfor%}

pdf: master.pdf

mkdir -p mps

all_mps= {% for i in range(nb_images) %} mps/scene_{{i}}.mps {%endfor%}

master.pdf : master.tex $(all_mps)
    pdflatex master.tex
    pdflatex master.tex
