prologues:=3;
outputtemplate := "mps/{{scene.name}}_%c.mps";
outputformat := "mps";



input boxes ;
input TEX ;
input ../mounted/{{ scene.path.replace(".mp","") }} ;



for i:=0 upto {{ scene.duration * scene.ips }}:
	beginfig(i);
	    scene(i,{{scene.duration}},{{scene.ips}}) ;
	endfig ;
endfor;


end.
