.PHONY: all mps


mps_files= {% for i in range(movie.nb_images)%} frame_{{i}}.mps {%endfor%}

mps : $(mps_files)

{% for animation,start in zip %}
{% for j in range(animation.duration*animation.ips+1) %}
frame_{{j+start}}.mps : ../tmp-animation-{{animation.name}}/frame_{{j}}.mps
    cp $< $@
{% endfor %}
{% endfor %}
