.PHONY: all pdf mps clean

mps_files= {% for i in range(movie.nb_images) %} ../mps/frame_{{i}}.mps {% endfor %}


mps : $(mps_files)

pdf : scene.pdf

scene.pdf : scene.tex $(mps_files)
    lualatex scene.tex
    lualatex scene.tex

clean:
    rm -f $(mps_files) scene.pdf
