#.SUBDIRS: mps {% for scene in movie.scenes %} tmp-{{scene.name}} {%endfor%}

.PHONY: all install clean x pdf

.SUBDIRS: {% for animation in movie.animations %} tmp-animation-{{animation.name}} {%endfor%} {% for scene in movie.scenes %} tmp-scene-{{scene.name}} {%endfor%}

pdf_files= {% for animation in movie.animations %} animation-{{animation.name}}.pdf {% endfor %}

pdf : $(pdf_files)

{% for animation in movie.animations %}
animation-{{animation.name}}.pdf : tmp-animation-{{animation.name}}/animation.pdf
    cp $< $@
{% endfor %}







#master.pdf : master.tex $(all_mps)
#    lualatex master.tex
