.PHONY: all pdf mps clean

mkdir -p mps

mps_files= {% for i in range(nb_images) %} mps/frame_{{i}}.mps {% endfor %}

{% for count_in_scene,anim_name,count_in_anim in zip %}
mps/frame_{{count_in_scene}}.mps : ../tmp-animation-{{ anim_name }}/mps/frame_{{count_in_anim}}.mps
    ln-or-cp $< $@
{% endfor %}

mps : $(mps_files)

pdf : scene.pdf

scene.pdf : scene.tex $(mps_files)
    lualatex scene.tex
    lualatex scene.tex

clean:
    rm -f $(mps_files) scene.pdf
